.subject-basic-form{
  .multiple-select{
    width 100%
  }
}
.subject-class-form{
  .classes-table{
    .common-data-table{
      clear both
      .delete-btn{
        font-size 1.6rem !important
        padding 6px 10px !important
        color white
        background-color danger
      }
    }
    .table-actions{


      button{
        float right
        margin-bottom 20px
        color white
        font-size 1.2rem !important
        font-weight 500
        background-color inverse
        display flex
        align-items center
        i{
          font-size 1.8rem !important
          margin-right 10px
        }
      }
    }
  }
  .empty-alert{
    text-align center
    font-size 2rem
    font-weight 500
    color inverse
    button{
      color white
      margin 20px auto
      font-weight 500
      background-color info
      display flex
      align-items center
      i{
        font-size 2.4rem
        margin-right 10px
      }
    }
  }
}