.subject-basic-form{
  .multiple-select{
    width 100%
  }
}
.subject-class-form{
  .empty-alert{
    text-align center
    font-size 2rem
    font-weight 500
    color inverse
    button{
      color white
      margin 20px auto
      font-weight 500
      background-color info
      display flex
      align-items center
      i{
        font-size 2.4rem
        margin-right 10px
      }
    }
  }
}