.alert-confirm{
  font-size 1.6rem
  max-width 600px
  font-weight 500
  .alert-title{

  }
  .alert-sub{
    color danger
    margin-top 15px
    font-size 1.6rem
  }
  .prerequisites{
    margin-left 20px
    font-size 1.4rem
    font-weight 500

  }
}
.err-reason{
  .err-section{
    margin-bottom 15px
    .err-title{
      color inverse
      font-weight 500
      font-size 1.6rem
      margin-bottom 15px
    }
    .common-data-table{
      max-height 180px
      overflow-y auto
      min-height unset !important
    }
  }
}