.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;


}
.common-badge{
  font-size: 1.3rem;
  padding: 5px 8px;
  font-weight: 450;
}
.common-route-wrapper{
  background-color white
  box-shadow 0 1px 20px 0 rgba(69,90,100,.08)
  overflow hidden
  border-radius 4px
  position relative
  .content-wrapper{
    padding 20px
  }
  .edit-form-loading{
    font-size 50px !important
  }
}
.server-error{
  margin-bottom 12px
  color danger
  font-size 12px
}
.u-margin-bottom-big {
  margin-bottom: 8rem !important;


}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}
.btn-cancel{
  background-color navTextColor
  color titleColor
  &:hover{
    background-color darken(navTextColor, 5%)
  }
}
.btn-next{
  color white
  background-color inverse
  &:hover{
    color white
    background-color darken(inverse, 10%)
  }
}
.btn-back{
  color white
  background-color danger2
  &:hover{
    color white
    background-color darken(danger2, 10%)
  }
}