.registration-route{
  max-width 1200px !important
  .registration-notify{
    .notify-title{
      font-size 1.6rem
      font-weight 500
      color inverse
      margin-bottom 1.5rem
    }
  }
  .subject-list{
    min-height 150px
    margin-bottom 2rem
    .loading-inline{
      background-color transparent
      i{
        color inverse
        font-size 40px
      }
    }
  }
}