.blockchain-overview{
  display flex
  padding 12px 0
  .panel{
    flex-grow 1
    padding 0 24px
    border-right 1px solid grey
    .label{
      font-size 15px
      font-weight 550
      color #77838f
    }
    .value{
      font-size 16px
      color tikiblue
      .unit{
        color #77838f!important
        font-size 13px
      }
    }
    .upper{
      padding-bottom 12px
      border-bottom 1px solid grey
    }
    .lower{
      padding-top 12px
    }
    &:last-child{
      border-right none
    }
  }
}