.common-alert{
  font-size 1.5rem
  margin-bottom 2rem
  border-radius 4px
  position relative
  padding 1.2rem 2rem
  border 1px solid transparent
  .content{
    strong{
      font-weight 550
    }
  }
  &.icon-alert{
    border-left-width 48px
    .alert-icon{
      position absolute
      top 50%
      transform translateY(-50%)
      font-size 1.6rem
      left -32px
      color white
    }
  }
  &.warning-alert{
    &.icon-alert{
      background-color white
      border-color warning
      color warning
    }
  }
  &.danger-alert{
    &.icon-alert{
      background-color white
      border-color danger
      color danger
    }
  }
}