
.manage-list-route{
  .checked-actions{
    margin-bottom 15px
    text-align right
    button{
      margin-left 10px
      font-size  1.2rem !important
      font-weight 500
      padding 5px 15px !important
      &.disabled-class-btn{
        color white
        background-color inverse
        &:hover{
          background-color darken(inverse, 10%)
        }
      }
    }
  }
  .custom-summary{
    font-weight 500
    font-size 1.5rem
    color inverse
    margin-bottom 15px
    span{
      color info

    }
  }
  .route-actions{
    padding 20px 20px 0 20px
    text-align right
    display flex
    justify-content flex-end
  }
  .schedule-items{
    padding 20px
  }
  .table-actions{
    display flex
    flex-wrap wrap
    justify-content space-between
    .search-schedules{
      flex 0 0 100% !important
      input{
        width 300px
      }
    }
    .spec-select{
      flex 0 0 30%
      margin-bottom 30px
      display flex
      align-items center
      width 500px
      .common-select{
        flex-grow 1
      }
      .label{
        font-size 1.5rem
        color inverse
        font-weight 500
        margin-right 10px
      }
    }

  }
}